// colors
$paradise-pink: #ef476f;
$orange: #ffd166;
$caribbean: #06d6a0;
$blue: #118ab2;
$midnight: #073b4c;
$black: #010100;
$cream: #f9f6f0;
$beige: #6f5b3e;

// font
$font-family: "Lato", sans-serif;
$font-size: 1rem !default; // Assumes the browser default, typically `16px`
$font-weight: 400 !default;
$text-color: $black !default;
