h1,
.heading-one {
  @include text-var(2rem, 1.8rem, 700);
}

p,
.paragraph {
  @include text-var(1rem, 0.8rem, 400);
}

.light {
  font-weight: 300;
}

.danger {
  color: $paradise-pink;
}

.success {
  color: $caribbean;
}
